@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:50%;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
	font-size:12px !important;
}



.popupHeader {font-size:16px; color:#fff; text-transform: uppercase;}
.popupHeader {background:#30a5ff; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#30a5ff; cursor: pointer; color:#fff; font-size:16px;}

.popupBody {padding:20px;}

