/*
Lumino Admin Bootstrap Template by Medialoot
URL: http://medialoot.com/item/lumino-admin-bootstrap-template/
Designer: Tony Thomas
Version: 1.0
*/


/*Global Styles*/

.form-control::-moz-placeholder {
  color:#CCC;
}
.form-control:-ms-input-placeholder {
  color: #CCC;
}
.form-control::-webkit-input-placeholder {
  color: #CCC;
}

body {
	background: #f1f4f7;
	padding-top: 50px;
	color: #5f6468;
	overflow-x: hidden;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

p {
	color: #777;
}

a, a:hover, a:focus {
	color: #30a5ff;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}

.large {
	font-size: 2em;
}

.text-muted {
	color: #9fadbb;
}

.color-gray { color: #5f6468; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #ffb53e; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.no-padding {
	padding: 0; margin: 0;
}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.form-control {
	/*border: 1px solid #eee;*/
	border: 1px solid #c0c0c0;
	box-shadow: none;
}


.form-control:focus {
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

/*Buttons*/

a.btn:hover,
button:hover {
	opacity: 0.8;
}

a.btn:active,
button:active {
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.1);
	opacity: 1;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #e9ecf2;
	border-color: #e9ecf2;
	color: #1b3548;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #599455;
	border-color: #599455;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #8ad919;
	border-color: #8ad919;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #ffb53e;
	border-color: #ffb53e;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #f9243f;
	border-color: #f9243f;
}

/*Backgrounds*/

.bg-primary {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success {
	color: #fff;
	background-color: #8ad919;
}
a.bg-success:hover {
	background-color: #8ad919;
}
.bg-success a {
	color: rgba(255, 255, 255, .75);
}
.bg-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: rgba(255, 255, 255, .75);
}
.bg-warning {
	color: #fff;
	background-color: #ffb53e;
}
a.bg-warning:hover {
	background-color: #ffb53e;
}
.bg-warning a {
	color: rgba(255, 255, 255, .75);
}
.bg-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: rgba(255, 255, 255, .75);
}

/*Panels*/

.panel {
	border: 0;
}

.panel-heading {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.025em;
	height: 66px;
	line-height: 45px;
}

.panel-default .panel-heading {
	background: #fff;
	/*border-bottom: 1px solid #eee;*/
	color: #5f6468;
	/*margin-bottom:6% !important;*/
}

.panel-default {
		margin-bottom:6% !important;
}


.panel-footer {
	background: #fff;
	border-top: 1px solid #eee;
}

.panel-widget {
	padding: 0;
	position: relative;
}

.panel-widget .panel-footer {
	border: 0;
	text-align: center;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn, 
.panel-footer .input-group-btn:last-child>.btn-group {
	margin: 0;
}

.panel-widget .panel-footer a {
	color: #999;
}

.panel-widget .panel-footer a:hover {
	color: #666;
	text-decoration: none;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #ffb53e; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p { 
	color: #fff; 
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted { 
	color: rgba(255, 255, 255, .5); 
}

.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-right {
	text-align: left;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #999;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 768px) {
	.widget-right {
	width: 100%;
	margin: 0;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	}
}

@media (max-width: 768px) {
	.widget-left {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}
}

.widget-right .text-muted {
	color: #9fadbb;
}
.widget-right .large {
	color: #5f6468;
}

.panel-blue .widget-left { background: #30a5ff; color: #fff; }
/*.panel-teal .widget-left { background: #1ebfae; color: #fff; }*/
.panel-orange .widget-left { background: #ffb53e; color: #fff; }
.panel-red .widget-left { background: #f9243f; color: #fff; }

.panel-widget {
	background: #fff;
}

/*Jumbotron*/

.jumbotron {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

/*Tabs*/

.panel .tabs {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background: #e9ecf2;
	border: 0;
}

.nav-tabs li a:hover {
	background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	border: 0;
	padding: 15px 20px;
}

.nav-pills {
	padding: 15px;
	padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
	border: 0;
	padding: 7px 15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
	background: #30a5ff;
}

.tab-content {
	padding: 15px;
}


/*Navbar*/

.navbar {
	border: 0;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

.user-menu a {
	color: #fff;
}

.dropdown-menu a {
	color:#fff !important;
}

.user-menu a:hover, .user-menu a:focus {
	text-decoration: none;
}

/* Sidebar */

.sidebar {
	display: block;
	background-color: #fff;
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto; 
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	.navbar-header {
		width: 100%;
	}
}

.sidebar ul.nav a:hover, 
.sidebar ul.nav li.parent ul li a:hover {
	text-decoration: none;
	background-color: #e9ecf2;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
	color: #fff;
	background-color: #30a5ff;
}*/

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
	height: 40px;
	background: #f9f9f9;
	color: #30a5ff!important;
}

.sidebar ul.nav li.current a {
	background-color: #30a5ff;
	color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
	padding-left: 30px;
	line-height: 40px;
}


.sidebar span.glyphicon {
	margin-right: 10px;
}

.sidebar ul.nav li.divider {
	border-bottom: 1px solid #eee;
	margin: 20px 0;
}

.sidebar .attribution {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 12px;

}

@media (max-width: 768px) {
	.sidebar .attribution {
		display: none;
	}
}

/*Breadcrumbs*/

.breadcrumb {
	border-radius: 0;
	padding: 10px 15px;
	background: #e9ecf2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: 0 ;
}

h1.page-header {
	margin-top: 30px;
	border-bottom: 0;
}

/*Charts*/

.main-chart {
	background: #fff;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.donut {
	width: 100%;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}

/*Calendar Widget*/

#calendar, .datepicker-inline {
	width: 100%;
}

#calendar table {
	width: 100%;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
	color: rgba(255, 255, 255, .50);
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, .5);
	border-color: #285e8e;
}

.datepicker table tr td span:hover,
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	background: rgba(0, 0, 0, 0.25);
}

.panel-heading .glyphicon {
	margin-right: 10px;
}

/*Todo List Widget*/

.todo-list-item .glyphicon { 
	margin-right:5px; 
	color: #9fadbb; 
}

.todo-list-item .glyphicon:hover { 
	margin-right:5px; 
	color: #1b3548; 
}

.todo-list { 
	padding: 0;
	margin: -15px;
	background: #fff;
	color: #5f6468;
}

#checkbox {
	margin: 0;
}

.todo-list .checkbox { 
	display:inline-block; 
	margin: 0px;
}

.panel-body input[type=checkbox]:checked + label { 
	text-decoration: line-through;
	color: #777; 
}

.todo-list-item {
	list-style: none;
	line-height: 0.9;
	padding: 14px 15px 8px 15px;
}

.todo-list-item:hover, a.todo-list-item:focus {
	text-decoration: none;
	background-color: #f6f6f6;
}

.todo-list-item a.trash .glyphicon:hover {
	color: #ef4040;
}


/*Chat Widget*/

.chat ul {
	list-style: none;
	margin: -15px;
	padding: 15px;
}

.chat ul li {
	margin-bottom: 10px;
	padding: 15px 5px;
	border-bottom: 1px solid #eee;
}

.chat ul li.left .chat-body { margin-left: 100px;}
.chat ul li.right .chat-body { margin-right: 100px;}

.chat ul li .chat-body p {
	margin: 0;
}

.chat ul .glyphicon {
	margin-right: 5px;
}

.chat .panel-body {
	overflow-y: scroll;
	height: 300px;
}

.chat-body small {
	margin-left: 5px;
}

/*Tables*/
.table {
	background: #fff;
}

.fixed-table-container {
	border: 1px solid #eee;
}

.fixed-table-container thead th {
	background: #f7f7f8;
	border-color: #ddd;
	color: #5f6468;
	font-weight: 300;
	font-size: 16px;
}

.fixed-table-container tbody td {
	border: 1px solid #eee;
}

.fixed-table-container tbody td:last-child {
	border-right: none;
}

.table>thead>tr>th {
	border-bottom: 1px solid #e6e7e8;
	vertical-align: middle;
	height: 50px;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}
.fixed-table-pagination .pagination-detail {
	margin-top: 20px;
}



/*********************************Nagesh CSS********************/

.msg{
color:#F00;	
	
}
.page.gradient {
  /*background: rgba(0, 0, 0, 0) -moz-linear-gradient(0% 0 270deg, #f8f8f8, #e9e9e9) repeat scroll 0 0;*/
}
.page {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
  color:#333 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  /*font-weight: bold;*/
  margin-right: 4px;
  padding: 2px 9px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
.page.active {
  background: #599455 none repeat scroll 0 0;
  border: medium none;
/*  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.8);
*/  color: #fff !important;
/*  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
*/}


.page.gradient {
  /*background: rgba(0, 0, 0, 0) -moz-linear-gradient(0% 0 270deg, #000, #000) repeat scroll 0 0;*/
}

.pagination {
  background: #FFF none repeat scroll 0 0;
  /*margin-bottom: 1px;
  margin-top: 5px;*/
  margin:15px;
  padding: 10px;
  border:1px solid #CCC;
}

.imgfile {
	position:absolute;
	z-index:2;top:0;
	left:0;
	filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity:0;
	background-color:transparent;
	color:transparent;
	cursor:pointer;
}
/*=========================Shubham Css==========================================*/
.panel.panel-blue {
  background: #175200 none repeat scroll 0 0 !important;
  border-radius:0px;
}
.navbar-collapse.collapse {
  margin-left: 0 !important;
}
.nav.navbar-nav li .dropdown-menu{
	background:#529A13 !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #000;
  color: #262626;
  text-decoration: none;
}

.navbar-nav > li > .dropdown-menu::before {
		position:absolute;
		display:inline-block;
		content:"";
		border-bottom:7px solid #529A13;
		border-left:7px solid transparent;
		border-right:7px solid transparent;
		top:-7px;
		left:40px;
}
.navbar-nav li a::before, .navbar-nav li a::after {
		display: inline-block;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
		-moz-transition: -moz-transform 0.3s, opacity 0.2s; 
		transition: transform 0.3s, opacity 0.2s; 
}
.navbar-nav li a::before {
		margin-right: 4px; 
		content: '['; 
		-webkit-transform: translateX(20px); 
		-moz-transform: translateX(20px); 
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px);
}
.navbar-nav li a::after {
		margin-left: 4px;
		content: ']'; 
		-webkit-transform: translateX(-20px); 
		-moz-transform: translateX(-20px); 
		-ms-transform: translateX(-20px); 
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
}
.navbar-nav li a:hover::before, .navbar-nav li a:hover::after {
		opacity: 1;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);
}
.panel-red a::before{
	content:"" !important;
}
.panel-red a::after{
	content:"" !important;
}
.dropdown-menu a::before{
	content:"" !important;
}
.dropdown-menu a::after{
	content:"" !important;
}

body {
        background-image:url(../img/blue.jpg);
}
.row.no-padding.district {
  background: #37bc9b;
}
.row.no-padding.assembley {
  background: #da4453;
}
.row.no-padding.mohalla {
  background: #4a89dc;
}
.row.no-padding.category {
  background: #f6bb42;
}
.widget-right {  
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #999;
  font-weight: 300;
  height: 80px;
  line-height: 1.6em;
  margin: 0;
  padding: 20px;
  text-align: left;
  background:transparent;

}
.widget-left {
  height: 80px;
  padding-top: 15px;
  text-align: center;
}
.panel-teal {
  background: #1ebfae none repeat scroll 0 0;
  color: #fff;
  min-height:125px;
}
.block-footer {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  height: 35px;
  margin-top:15px;
  width: 100%;
  padding: 7px;
  text-align: center;
}
.col-md-4.col-sm-6.col-xs-12 a {
  text-decoration: none;
}
.more_info {
  font-family: arial;
  opacity: .8;
}
.more_info:hover {
	text-decoration:none;
}
	

.widget-right .large {
  color: #ffffff !important;
  font-size:16px !important;
}
.panel-blue .widget-left {
  background: transparent !important;
  color: #fff;
}
.col-md-3 > a:hover em {
  font-size: 50px;
  opacity: 0.8;
  transition: all 0.5s ease 0.2s;
}
.col-md-7.col-xs-6.col-sm-9.col-lg-7.widget-right .digit {
  font-size: 30px;
  margin-bottom: 7px;
  color: #fff;
  font-weight: bold;
}
.breadcrumb li a span.glyphicon.glyphicon-home {
  color: #599455;
}
.breadcrumb li.active a{
		color:#599455 !important;
}
.col-xs-6{
	width:50%;
}


.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-university {
  font-size: 65px;
  position: absolute;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-university{
	font-size:72px !important;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-list-alt {
  font-size: 70px;
  position: absolute;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-list-alt{
	font-size:75px !important;
}

.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-list {
  font-size: 70px;
  position: absolute;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-list{
	font-size:75px !important;
}

.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-thumbs-up {
  font-size: 70px;
  position: absolute;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-thumbs-up{
	font-size:75px !important;
}

.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-users {
  font-size: 65px;
  position: absolute;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-users{
	font-size:72px !important;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-user-plus {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-user-plus{
  font-size: 77px !important;
}

.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-link {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-link{
  font-size: 77px !important;
}


.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-lock {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-lock{
  font-size: 77px !important;
}

.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-user-times {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-user-times{
  font-size: 77px !important;
}


.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-pause-circle-o {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-pause-circle-o{
  font-size: 77px !important;
}

.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa.fa-comments {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa.fa-user {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa.fa-rupee {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa.fa-credit-card {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa.fa-pause {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa.fa-plus-square {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}

.col-md-4.col-sm-6.col-xs-12:hover .fa.fa-user{
  font-size: 77px !important;
}

.col-md-4.col-sm-6.col-xs-12:hover .fa.fa-rupee{
  font-size: 77px !important;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa.fa-pause{
  font-size: 77px !important;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa.fa-credit-card{
  font-size: 77px !important;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa.fa-plus-square{
  font-size: 77px !important;
}

.col-md-4.col-sm-6.col-xs-12:hover .fa.fa-comments{
  font-size: 77px !important;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-line-chart{
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-line-chart{
  font-size: 77px !important;
}


.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-phone {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-phone{
  font-size: 77px !important;
}

.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-check-square-o {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-check-square-o{
  font-size: 77px !important;
}



.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-file-text {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-file-text{
  font-size: 77px !important;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-id-badge-o {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover.fa-id-badge {
  font-size: 77px !important;
}
.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-dot-circle-o {
  position: absolute;
  font-size:70px;
  right: 14px;
  color:rgba(0, 0, 0, 0.2);
  transition:all 0.3s linear 0s;
}
.col-md-4.col-sm-6.col-xs-12:hover .fa-dot-circle-o{
	font-size:77px !important;
}
/*.col-md-5.col-xs-6.col-sm-3.col-lg-5.widget-left .fa-dot-circle-o:hover {
  font-size: 77px;
}*/


@media (max-width: 768px) {

.navbar-nav > li > .dropdown-menu::before {
  border-bottom: 7px solid #125c95 !important;
  top:33px;
}
}
/*=========================Shubham Css==========================================*/

.photo_identity {
  border: 2px solid #125C95;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.photo_identity img {
  width: 100%;
}
p.empl_name {
  text-align: center;
  font-weight:600;
}
.general_details {
  background: #125C95 none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  display:none;
}

.accordian {
  margin: 12px 0;
}
.accordian .accor_start {
  border: 1px dashed #ccc;
}
.accordian .acc_plus {
  border-radius: 0 !important;
  width: 100%;
  background: #125C95 none repeat scroll 0 0 !important;
  text-align:left !important;
  height:36px;
}
a.btn.btn-info.acc_plus i {
    float: right;
    position: relative;
    top: -15px;
}
.more_details {
  list-style: outside none none;
  margin: 0 !important;
  padding: 0 !important;
}
.more_details li {
  padding: 7px 7px !important;
}
.more_details li a {
  color: #125C95 !important;
}
.headiing h3::after {
  background-color: #59B7FF;
  content: "";
  display: block;
  height: 2px !important;
  margin: 0 auto;
  position: relative;
  top:3px;
  width: 100% !important;
}
.line.one {
  /*border-bottom: 1px solid #59B7FF;*/
  display: table;
  padding: 6px 0px;
  width: 100%;
}
.line.one label {
  padding-top: 5px;
}
.line.one .form-group {
  width: 100% !important;
}
.line.one .form-group input {
  width: 100% !important;
}
.input-text {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 6px 11px;
  width: 100% !important;
}
.documents{
 margin-bottom:8px;
 border: 2px solid #125C95;
 padding:5px;
}
.documents img {
  width: 100%;
  max-height: 155px;
}
.line.one.docs {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  border-bottom:none;
  border-top:1px solid #59B7FF;
}
.main_wrapp {
  clear: both;
  float: left;
  width: 100%;
}
.main_wrapp h3{
	border-bottom:2px solid #59B7FF;
	padding-bottom:5px;
}
/*.input-text.form-control {
  border: medium none;
}*/
/*=====================Logo Css Start===========================*/
.navbar-brand.logo {
  padding: 0;
}
.navbar-brand.logo img {
	width:80%;
}
.navbar.navbar-inverse.navbar-fixed-top{
	background:#fff;
}
button.navbar-toggle span{
	background:#125C95 !important;
}
.navbar-inverse .navbar-toggle {
  border-color: #125C95 !important;
}
.navbar-inverse .navbar-toggle:hover {
  border-color: #125C95 !important;
  background:#125C95 !important;
}
.navbar-inverse .navbar-toggle:focus {
  border-color: #125C95 !important;
  background:#125C95 !important;
}

.navbar-inverse .navbar-toggle:hover span {
  background:#fff !important;
}
.navbar-inverse .navbar-toggle:focus span {
  background:#fff !important;
}
.navbar-inverse .navbar-toggle:active span {
  background:#fff !important;
}
@media (max-width: 767px) {
	.navbar-header{
		position:relative;
		top:20px;
	}
	.navbar-header span#clock{
		display:none;
	}
	.col-md-8.col-sm-8.col-xs-8.payslip_mod::after {
  right: 15% !important;
   }
	}
	@media (max-width: 440px) {
		.col-md-8.col-sm-8.col-xs-8.payslip_mod::after {
  right: 10% !important;
   }
	}
/*.navbar-header span {
  background: #333 none repeat scroll 0 0 !important;
}*/
/*=====================Logo Css End===========================*/

/*===============================Change Password Css Start Here=========================================	*/	


.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-12.bordo {
  border: 2px solid #125C95;
  border-radius: 20px;
  padding: 30px 15px;
  background:#fff;
  box-shadow:0px 5px 8px #999;
}
.grid_container.pwd_ch {
  padding: 10px;
}

/*===============================Change Password Css End Here=========================================	*/	

.col-md-8.col-sm-8.col-xs-8.payslip_mod::after {
  color: #000;
  content: ":";
  display: inline-block;
  font-weight: bold;
  position: absolute;
  right: 30%;
  top: -1px;
}
.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12.brodo{
	  border: 2px solid #125C95;
  border-radius: 20px;
  padding: 30px 15px;
  background:#fff;
  box-shadow:0px 5px 8px #999;
}
form.search{
	padding:0px;
}
form.search #btn-chat {
  border-radius: 0 4px 4px 0;
}
@media (min-width: 1024px) and (max-width: 1180px) {
.panel.panel-blue .navbar-collapse.collapse ul li a {
  padding: 12px 6px;
}
}
@media (min-width: 980px) and (max-width: 1023px) {
.panel.panel-blue .navbar-collapse.collapse ul li a {
  padding: 12px 4px;
}
}
@media (min-width:768px) and (max-width:991px) {
    .collapse {
       display: none !important;
   }
   .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
    display: block;
	background-color: #58574a;
    border:1px solid #58574a;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
	
	.navbar-header {
	  display: block;
	}
	.dropdown-menu {
	  position: relative !important;
	  width:100%;
	  padding:0px !important;
	}
	.dropdown-menu li a {
		padding:7px 28px !important;
	}
	.dropdown-submenu .dropdown-menu {
	  position: relative;
	/*  top: 100%;*/
	  width: 100%;
	  float: left;
	  left: 0px !important;
	}
	.navbar .navbar-nav > li > a {
	  padding: 7px 28px;
	}
	.dropdown-menu {
	  padding: 7px 28px;
	}
	.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-65 {
	  background: none;
	}
	.nav.navbar-nav.navbar-right {
	  width: 100%;
	}
	.navbar-header span#clock{
			display:none;
		}
	.panel.panel-blue .navbar-collapse {
		margin-left:0px !important;
  
    }
	.navbar-header{
		position:relative;
		top:20px;
	}
	.breadcrumb {
	/*  padding: 7px 15px;*/
	}

	.col-sm-12.bred_start .col-sm-12 {
	  position: relative;
	/*  top: -24px !important;*/
	}
	.footer {
	  bottom: -10px !important;
	}
	.panel-heading {
  margin-top: 10px;
	}
	.navbar-toggle {
	background-color: transparent;
	}
	.col-sm-12.bred_start{
		top:-8px !important;
	}
	.form-control.assign_lender{
	width:100% !important;
}
}
@media (min-width: 320px) and (max-width: 767px) {
	
.salary_btn {
  margin-bottom: 5px !important;
  text-decoration: none;
}	
.dropdown-submenu:focus .dropdown-menu{
	display:block !important;
}
.navbar-brand.logo {
  width: 130px;
}
.navbar-toggle.collapsed.menu_button {
  float: left !important;
  margin-right: 0;
}
.navbar-brand.logo img{
	width:92%;
}
.navbar-toggle{
	float:left !important;
}
.panel.panel-blue.header_height {
  margin-top: 47px !important;
}
.col-sm-12.bred_start {
  position: relative;
  top: -8px !important;
}
.for_paging {
  margin-top: 10px;
}
.addd_button {
  margin-top: 10px;
}
.exit_message{
	margin-bottom:10px;
}
.double_search{
	margin-bottom:10px;
}
.form-control.assign_lender{
	width:100% !important;
}
.panel-heading u {
	font-size:20px;
}
.col-md-4.col-sm-4.speed_meter {
	  margin-bottom: 15px !important;
	}
	.col-md-8.graph {
  margin-bottom: 15px;
}
.lgm_sum {
  margin-top: 15px;
}
input.add_lead {
  margin-top: 15px;
}
}
.navbar.navbar-inverse.navbar-fixed-top {
  border-bottom: 1px solid #eee;
}
.search_add_button {
  margin-top: 5px;
}
.panel-heading u {
  position: relative;
  top: -15px;
}
/*Shubham New dashboard CSS Start On 01 March 2017 */
.round-rect {
  border: 2px solid #597eb2;
  border-radius: 26px;
}
.round-rect h1 {
  font-size:19px;
  font-weight:600;
  color:#000;
}
.round-rect h1 {
  color: #000;
  font-size: 19px;
  font-weight: 600;
  border-bottom: 2px solid #597eb2;
  padding-bottom: 8px;
  margin-top:8px;
}

.round-rect table th, td {
  text-align: center;
}
.round-rect .table.table-striped thead{
	background:#c4c8e3;
	color:#000;
}
.round-rect .table.table-striped td{
	background:transparent;
}
.round-rect .table.table-striped thead th{	
	height:20px;
	padding-top:10px;
	padding-bottom:10px;
}
.round-rect .table > thead > tr > th {
  border-bottom: 1px solid #ddd;
  vertical-align: bottom;
}
.round-rect h4 {
  background: #5080be none repeat scroll 0 0;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 4px;
  text-align: center;
}
.round-rect h4.retail {
  background: #5080be none repeat scroll 0 0;
  border-radius: 7px 7px 0 0;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 4px;
  text-align: center;
}
.col-md-8.graph {
  padding-left: 0;
}
.col-md-4.flash_news {
  padding-right: 0;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color:#e1e1f9 !important;
}
.table-striped tbody tr:nth-of-type(2n) {
    background-color:#f0f0fb !important;  
}
.col-md-4.speed_meter .ui-jqradialgauge {
	margin:0px auto;
}
.round-rect.one {
  float: left;
  width: 100%;
  border-radius:45px;
  padding-bottom:10px;
}
.col-md-4.flash_news .round-rect {
  height: 254px;	
 background: -moz-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(205,206,207,1) 23%, rgba(94,96,100,1) 88%, rgba(76,78,82,1) 99%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(245,245,245,1)), color-stop(23%, rgba(205,206,207,1)), color-stop(88%, rgba(94,96,100,1)), color-stop(99%, rgba(76,78,82,1))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(205,206,207,1) 23%, rgba(94,96,100,1) 88%, rgba(76,78,82,1) 99%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(205,206,207,1) 23%, rgba(94,96,100,1) 88%, rgba(76,78,82,1) 99%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(245,245,245,1) 0%, rgba(205,206,207,1) 23%, rgba(94,96,100,1) 88%, rgba(76,78,82,1) 99%); /* ie10+ */
background:radial-gradient(ellipse at center, rgba(245,245,245,1) 0%, rgba(205,206,207,1) 23%, rgba(94,96,100,1) 88%, rgba(76,78,82,1) 99%); /* w3c */ 
}
.col-md-4.flash_news .round-rect p {
  color: #000;
  font-size: 22px;
  padding: 22px;
  position: relative;
  font-weight:600;
  top: 60px;
}


.imgfile{
width:100px;

}


.new{
color:#333;	
}
.hold{
color:#F00;	
}
.verified{
color:#333;	
}
.rejected{
color:#333;		
}
.login{
color:#333;	
}
.approved{
color:#333;	
}
.sanction{
color:#333;	
}
.disbursal{
color:#333;	
}
.spill{
color:#333;	
}
.reveal-modal {
  top: 10% !important;
  position:absolute !important;
}
.dropdown-menu {
  background-color: #000 !important;
}
.dropdown.pull-right.open ul.dropdown-menu{
	background:#529A13 !important;
}


option {
  font-size: 14px;
  padding: 5px;
}

.sorting_asc {
	background: #F00 !important;
}
.sorting_desc {
	background: #F00 !important;
}